#chat-screen {
  background-color: #e8d7fa;
  height: 1000vh;
}
#chat-screen .status-bar,
#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  top: 0;
  box-sizing: border-box;
  background-color: #e8d7fa;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s linear;
}
.chat__timestamp {
  color: rgb(238, 234, 228);

  font-weight: 400;
  background-color: #92a4b2;
  padding: 10px 15px;
  border-radius: 22px;
  font-size: 13px;
  margin-bottom: 15px;
}
@keyframes showmessagerow-friend {
  from {
    opacity: 0;
    transform: translateX(-180px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes showmessagerow-own {
  from {
    opacity: 0;
    transform: translateX(180px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.message-row:not(.message-row--own) {
  animation: showmessagerow-friend 1s linear;
}
.message-row--own {
  justify-content: flex-end;
  animation: showmessagerow-own 1s linear;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 15px;
}
.message__author {
  opacity: 0.9;
  font-size: 15px;
  margin-bottom: 8px;
  display: block;
  font-weight: 500;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__bubble {
  background-color: white;
  padding: 8px 13px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  font-weight: 500;
}
.message__time {
  opacity: 0.8;
  font-size: 13px;
}
.message__bubble i {
  color: var(--yellow);
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-left: 5px;
  margin-right: 0px;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}
.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.reply input {
  padding-left: 10px;
  height: 30px;
  width: 100%;
  border-radius: 20px;
  border: var(--main-border);
  transition: all 0.3s ease-in-out;
}
.reply .reply__column:first-child {
  width: 5%;
}
.reply .reply__column:last-child {
  width: 95%;
  position: relative;
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 0;
  bottom: 4px;
}
.reply__column:last-child > i {
  right: 35px;
  top: 9px;
}
.reply__column:last-child button {
  background-color: var(--yellow);
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  right: -4px;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
.reply i {
  opacity: 0.5;
}
.reply__column button i {
  opacity: 1;
}

.reply .reply__column:first-child,
.reply .fa-smile,
.reply button {
  transition: opacity.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 90vw;
  transform: translateX(-5%) translateY(-80px);
}
.reply:focus-within {
  transform: translateY(80px);
}
