.screen-header {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--horizontal-space);
  padding-left: var(--horizontal-space);
  padding-right: var(--horizontal-space);
  align-items: center;
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
}
.screen-header__setting {
  position: relative;
}
.screen-header__update {
  position: absolute;
  background-color: tomato;
  border-radius: 50%;
  width: 6px;
  height: 6px;

  bottom: 20px;
}
