.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__avatar {
  width: 60px;
  height: 60px;
  border-radius: 23px;
  margin-right: 20px;
}
.user-component__text {
  width: 60%;
}
.user-component__title {
  font-weight: 600;
  font-size: 18px;
}
.user-component__subtitle {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  display: flex;
}
.user-component__avatar--xl {
  width: 70px;
  height: 70px;
}
